.blog {
    .blog-cont {
        padding-top: 60px;
        margin: 0 percentage(25 / 375);
        @include overTab {
            margin: 0 percentage(70 / 1280);
        }
    }
    
    .blog-list {
        @include overTab {
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;
        }
        .row {
            display: flex;
            + .row {
                margin-top: 20px;
                @include overTab {
                    margin-top: 30px;
                }
            }
        }
        dt {
            background-color: cl(primary);
            height: 30px;
            color: cl(white);
            text-align: center;
            font-size: 14px;
            display: flex;
            align-items: center;
            width: 75px;
            justify-content: center;
            @include overTab {
                width: percentage(160 / 1280);
            }
        }
        dd {
            margin-left: 20px;
            flex: 1;
            a {
                color: cl(white);
                font-size: 24px;
                text-decoration: underline;
                font-size: 16px;
                @include overTab {
                    font-size: 24px;
                }
            }
        }
    }

    .blog-link {
        margin-top: 60px;
        text-align: center;
    }
}